@font-face {
		font-family: 'open_sansbold';
		src: url('../fonts/opensans-bold-webfont.eot');
		src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
				 url('../fonts/opensans-bold-webfont.woff') format('woff'),
				 url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
				 url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
		font-weight: normal;
		font-style: normal;
}
@font-face {
		font-family: 'open_sansregular';
		src: url('../fonts/opensans-regular-webfont.eot');
		src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
				 url('../fonts/opensans-regular-webfont.woff') format('woff'),
				 url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
				 url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
		font-weight: normal;
		font-style: normal;
}
@font-face {
		font-family: 'open_sanssemibold';
		src: url('../fonts/opensans-semibold-webfont.eot');
		src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
				 url('../fonts/opensans-semibold-webfont.woff') format('woff'),
				 url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
				 url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
		font-weight: normal;
		font-style: normal;
}
@font-face {
		font-family: 'open_sansbold_italic';
		src: url('../fonts/opensans-bolditalic-webfont.eot');
		src: url('../fonts/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/opensans-bolditalic-webfont.woff2') format('woff2'),
				 url('../fonts/opensans-bolditalic-webfont.woff') format('woff'),
				 url('../fonts/opensans-bolditalic-webfont.ttf') format('truetype'),
				 url('../fonts/opensans-bolditalic-webfont.svg#open_sansbold_italic') format('svg');
		font-weight: normal;
		font-style: normal;
}

@import "reset.scss";
@import "compass";

body{background:#e6e6e6;}

.wrapper{
	width: 1175px;
	margin: 0 auto;
	&:after {
			content: ".";
			display: block;
			clear: both;
			visibility: hidden;
			line-height: 0;
			height: 0;
	}

	@media only screen and (max-width: 1175px) {
		width: 98%;
		margin-right: 1%;
		margin-left: 1%;
	}
}

/* start: HEADER */

header{
	background:#fff;
	.contain-to-grid{
		background-color: transparent;
		.logo{
			float: left;
			padding-left: 15px;
			padding-top: 18px;
			a{
				display: block;
				background:url('../img/logo.jpg') top center no-repeat;
				width: 351px;
				height: 91px;
				line-height: 125px;
				background-size: cover;
			}
			@media only screen and (max-width: 1080px) {
				padding-left: 0;
				float: none;
				margin: 0 auto 20px;
			}
		}
		.top-bar{
			background-color: transparent;
			max-width: 100%;
			height: 135px;

			&.expanded{
				height: auto;

				.title-area{
					background-color: transparent;
				}
			}

			.name {
				font-size: 16px;
				height: 130px;
				margin: 0;
				h1{
					line-height: 130px;
				}
			}
			.toggle-topbar.menu-icon a:after {
				box-shadow: 0 10px 0 1px black, 0 16px 0 1px black, 0 22px 0 1px black;
				content: "";
				display: block;
				height: 0;
				position: absolute;
				right: 0;
				top: 0;
				width: 20px;
			}

			.top-bar-section{

				.right{
					li{
						.dropdown {
							left: 0;
							right: auto;
							.dropdown {
								left: 100%;
							}
							@media only screen and (max-width: 640px) {
								left: 100%;
							}
						}
					}
				}
				ul{
					li{
						background-color: transparent;
						padding: 0 13px;
						&.has-dropdown{
							> a{
								padding-right: 0px !important;
								position: relative;
								&:after {
									@media only screen and (max-width: 640px) {
										content: '';
										display: block;
										font-size: 0;
										line-height: 0;
										border-top: 5px solid transparent;
										border-bottom: 5px solid transparent;
										border-left: 5px solid #000;
										position: absolute;
										top: 50%;
										right: 0;
									}
								}
							}
						}
						&:not(.has-form){
							a:not(.button) {
								border-top: 5px solid transparent;
								background: transparent;
								line-height: 130px;
								padding: 0;
								@media only screen and (max-width: 640px) {
									line-height: 30px;
								}
								&:hover{
									border-top: 5px solid #a1936b;
									transition:all .3s ease-in-out 0s;
									@media only screen and (max-width: 640px) {
										border-top: 5px solid transparent;
									}
								}
							}
						}
						>a {
							background: transparent;
							color: #a1936b;
							display: block;
							text-transform: uppercase;
							font-size: 12px;
							font-family: 'open_sansbold';
							color:#59582c;
							width: 100%;
							&:hover{
								text-decoration: none;
							}
						}
					}
					&.dropdown{
						li{
							padding: 0;
							a {
								background: rgba(0,0,0,.5) !important;
								color: white;
								line-height: 20px !important;
								padding: 12px !important;
								white-space: nowrap;
								border-width: 0 !important;
								&:hover{
									background: rgba(0,0,0,.7) !important;
								}
							}
						}
					}
				}
			}
		}
	}
	.slider-wrap{
		background:url('../img/slide-bg.jpg') center top no-repeat;
		height: 500px;
		background-size: cover;
		border-bottom:1px solid #fff;
		@include box-shadow (inset 0 0 5px rgba(0, 0, 0, 0.75));
		.slider-block{
			width: 55%;
			padding: 140px 0 10px;

			@media only screen and (max-width: 1175px) {
				width: 60%;
			}
			@media only screen and (max-width: 860px) {
				padding-top: 100px;
			}
			@media only screen and (max-width: 620px) {
				padding-top: 80px;
				width: 100%;
			}
			@media only screen and (max-width: 460px) {
				padding-top: 20px;
			}
			h2{
				font-size: 30px;
				color: #fff;
				font-family: "open_sansregular";
				text-align: center;
				@media only screen and (max-width: 620px) {
					font-size: 20px;
				}
			}
			.orbit-wrap{
				overflow: hidden;
				position: relative;
				width: 455px;
				margin: 0 auto;
				padding-top: 40px;
				@media only screen and (max-width: 460px) {
					width: 100%;
				}
				&:after{
					position: absolute;
					content: "";
					width: 302px;
					height: 15%;
					background:rgba(0,0,0,.3);
					@include box-shadow(1px -10px 10px rgba(0,0,0,.3));
					transform: skewX(-40deg);
					left: 16px;
					bottom: 52px;
					@media only screen and (max-width: 460px) {
						display: none;
					}
				}
			}
			.orbit-container{
				width: 302px;
				float: left;
				@media only screen and (max-width: 460px) {
					float: none;
					margin: 0 auto;
				}
				.orbit-slider{
					li{
						img{
							@include box-shadow(inset 0 0 5px 0 rgba(0,0,0,1));
							border:1px solid black;
						}
					}
				}
				.orbit-bullets{
					top: 5px;

					li{
						margin-right: 10px;
						border-radius: 50%;
						width: 9px;
						height: 9px;
						background:#fff;
						@include box-shadow(0 0 5px rgba(0,0,0,.5));
						&:last-child{
							margin-right: 0;
						}
						&.active{
							background:#000;
						}
					}
				}
				.orbit-timer{
					display: none;
				}
			}
			.slide-txt{
				float: left;
				width: 132px;
				margin-left: 20px;
				padding-top: 20px;
				@media only screen and (max-width: 460px) {
					padding-top: 0px;
					float: none;
					margin: 0 auto;
				}
				li{
					font-size: 18px;
					font-family: 'open_sansbold_italic';
					color: #fff;
					line-height: 1.8;
					position: relative;
					padding-left: 18px;
					.check{
						position: absolute;
						width: 10px;
						height: 11px;
						background:url('../img/sprite-icon.png') -49px -5px no-repeat;
						left: 0;
						top: 11px;
					}
				}
			}
		}
	}
}
/* end: HEADER */
/* start: Section WELCOME */
.welcome{
	padding: 40px 0 33px;
	.well-left{
		@media only screen and (min-width: 850px) {
			float: left;
			width: 50%;
		}
	}
	.well-right{
		@media only screen and (min-width: 850px) {
			float: right;
			width: 50%;
		}
	}
	h5{
		font-size: 18px;
		font-family: 'open_sansbold';
		color: #423900;
		text-transform: uppercase;
		margin-bottom: 20px;
		line-height: 1;
	}
	p{
		font-size: 12px;
		color: #303030;
		padding-right: 40px;
		@media only screen and (max-width: 850px) {
			padding-right: 0;
		}
	}
	ul{
		overflow: hidden;
		text-align: center;
		margin: 0;
		li{
			list-style-type: none;
			float: left;
			display: block;
			margin: 15px 2% 0;
			@include box-shadow(inset 0 0 5px rgba(0,0,0,.75));
			border:1px solid #000;
			width: 29%;
			height: 190px;
			text-align: center;
			vertical-align: bottom;
			background-size: cover;

			@media only screen and (max-width: 850px) {
				max-width: 170px;
				float: none;
				display: inline-block;
			}
			@media only screen and (max-width: 450px) {
				display: block;
				width: 170px;
				margin: 0 auto 10px;
			}

			&:first-child{
				margin-left: 0;

				p{
					padding-top: 60px;
				}
			}
			&:last-child{
				margin-right: 0;
			}
			&.well-1{background:url('../img/well-img1.jpg') center top no-repeat;}
			&.well-2{background:url('../img/well-img2.jpg') center top no-repeat;}
			&.well-3{background:url('../img/well-img3.jpg') center top no-repeat;}
			p{
				display: table;
				background:rgba(0,0,0,.4);
				width: 100%;
				height: 100%;
				font-size: 18px;
				font-family: 'open_sansbold';
				color: #fff;
				text-transform: uppercase;
				padding-right: 0;
				margin: 0;
				padding-top: 70px;
				line-height: 1.2;
			}
		}
	}
}
/* end: Section WELCOME */
/* start: Section STOCK */
.stock{
	background:#303030;
	padding: 23px 0;
	h5{
		font-family: 'open_sansbold';
		font-size: 18px;
		color: #fff;
		text-align: center;
		text-transform: uppercase;
		position: relative;
		&:before,
		&:after{
			position: absolute;
			content: '';
			width: 40%;
			height: 5px;
			border-top:1px solid #4c4b48;
			border-bottom:1px solid #4c4b48;
			top: 10px;
			@media only screen and (max-width: 750px) {
				width: 30%;
			}
			@media only screen and (max-width: 450px) {
				width: 25%;
			}
		}
		&:before{left: 0;}
		&:after{right: 0;}
	}
	ul{
			text-align: center;
			margin: 40px 0 0;
		li{
			margin: 0 3% 19px;
			text-align: center;
			display: inline-table;
			vertical-align: bottom;

			&:first-child{margin-left: 0;}
			&:last-child{margin-right: 0;}

			img{
				-webkit-filter: grayscale(1);
				-moz-filter: gray;
				-ms-filter: grayscale(1);
				filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale");

				&:hover{
				-webkit-filter: grayscale(0);
				-ms-filter: grayscale(0);
					filter:none;
				}
			}
		}
	}
}
/* end: Section STOCK */
/* start: FOOTER */
footer{
	background:#e6e6e6;
	padding: 30px 0;
	.map-layer-wrap{
		float: right;
		width: 33%;
		@media only screen and (max-width: 1175px) {
			clear: both;
			width: 98%;
			margin-right: 1%;
			margin-left: 1%;
		}
		.map-layer{
			float: right;
			background:url('../img/map-img.jpg') center -30px no-repeat;
			width: 370px;
			height: 205px;
			border:1px solid #fff;
			@include box-shadow(inset 0 0 5px rgba(0,0,0,.75));
			@media only screen and (max-width: 1175px) {
				float: none;
				margin: 0 auto;
			}
			@media only screen and (max-width: 390px) {
				width: 100%;
			}
		}
	}
	.foot-info-wrap{
		float: left;
		width: 66%;
		@media only screen and (max-width: 1175px) {
			clear: both;
			width: 98%;
			margin-right: 1%;
			margin-left: 1%;
		}
		.foot-info{
			margin: 0;
			padding-top: 30px;
			padding-right: 20px;
			margin-bottom: 53px;
			text-align: center;
			@media only screen and (max-width: 800px) {
				padding-right: 0;
			}
			li{
				display: inline-table;
				vertical-align: top;
				text-align: left;

				&.info-block{
					width: 33%;
					padding-left: 35px;
					margin: 0 30px;
					@media only screen and (max-width: 800px) {
						margin: 0 auto 20px;
						display: inline;
						text-align: center;
					}
					&:first-child{
						width: 24%;
						margin-left: 0;
					}
					&:last-child{
						width: 22%;
						margin-right: 0;
					}
				}

				.fi-fax{
					font-family: 'open_sanssemibold';
					font-size: 18px;
					color: #737373;
					span{
						font-family: 'open_sansbold';
						font-size: 24px;
						color: #59582c;
						position: relative;
						margin-bottom: 17px;
						display: inline-block;
						&.phone:before{
							position: absolute;
							content: "";
							width: 20px;
							height: 20px;
							background:url('../img/sprite-icon.png') -1px -1px no-repeat;
							left: -35px;
							top: 3px;
						}
					}
				}
				.fi-enq{
					font-family: 'open_sanssemibold';
					font-size: 14px;
					color: #737373;
					line-height: 1.2;
					span{font-size: 18px;margin-top: 20px;display: inline-block;}
				}
				.fi-detail{
					font-size: 14px;
					color: #737373;
					line-height: 1.2;
					span{
						font-family: 'open_sansbold';
						font-size: 14px;
						color: #59582c;
						text-transform: uppercase;
						position: relative;
						display: inline-block;
						margin-bottom: 20px;
						&.location:before{
							position: absolute;
							content: "";
							width: 20px;
							height: 20px;
							background:url('../img/sprite-icon.png') -25px 0px no-repeat;
							left: -35px;
							top: -7px;
						}
					}
				}
			}
		}
		.copy-layer{
			padding-right: 20px;
			@media only screen and (max-width: 600px) {
				padding-right: 0;
			}
			.copy-left{
				@media only screen and (max-width: 600px) {
					text-align: center;
				}
				@media only screen and (min-width: 600px) {
					float: left;
				}
			}
			.copy-right{
				text-align: center;
				@media only screen and (max-width: 600px) {
					margin-bottom: 20px;
				}
				@media only screen and (min-width: 600px) {
					float: right;
				}
			}
			p{
				font-size: 11px;
				color: #737373;
				margin: 0;
				line-height: 1.5;
			}
			ul{
				margin:-5px 0 0;
				li{
					display: inline-block;
					border-left:1px solid #737373;
					&:last-child{
						border-right:1px solid #737373;
					}
					a{
						font-size: 11px;
						color: #737373;
						padding: 0 15px;
						&:hover{
							color: #737373;
						}
					}
				}
			}
		}
	}
}
/* end: FOOTER */